name: Deployment
on:
  push:
    branches:
      - prod
      - develop
      - main

jobs:
  platform:
    name: Deploy Platform
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Package codebase
        run: |
          tar -cvf platform.tar .

      - name: Install SSH key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          known_hosts: unnecessary
          if_key_exists: replace

      - name: Upload codebase
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "platform.tar"
          target: ${{ secrets.DEPLOY_PATH }}

      - name: Deploy and restart
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            tar -xvf platform.tar
            rm platform.tar
            docker compose --env-file ${{ secrets.ENV_FILE_PATH }} down
            docker compose --env-file ${{ secrets.ENV_FILE_PATH }} up -d
