name: Deployment
on:
  push:
    branches:
      - main

jobs:
  platform:
    name: Deploy Platform (Normal Update)
    runs-on: ubuntu-latest
    steps:
      - name: Deploy and restart
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd ${{ secrets.DEPLOY_PATH }}
            git fetch origin main
            git pull origin main
            docker compose up -d --build django
